@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap");
html,
body,
* {
  margin: 0;
  padding: 0;
  --text-primary: rgb(81, 84, 88);
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
}
.header {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
}
.header h1 {
  font-size: 5rem;
  width: 100%;
  letter-spacing: 12px;
  font-weight: 700;
  color: var(--text-primary);
  text-align: left;
}
.header p {
  font-size: 1.5rem;
  text-align: left;
  color: var(--text-primary);
}
.newUrl {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid var(--text-primary);
  border-radius: 25px;
}
.note {
  margin-left: 10%;
}
.newUrl input {
  font-size: 1.5rem;
  padding: 5px;
  color: val(--text-primary);
}
.input {
  width: 80%;
  background: none;
  padding: 5px;
  border: none;
  outline: none;
}
.btn {
  width: 20%;
  border: none;
  border-radius: 15px;
  outline: none;
  background: none;
  background-color: var(--text-primary);
  color: rgb(172, 172, 172);
  padding: 5px;
  cursor: pointer;
  opacity: 1;
}
.btn:hover {
  color: white;
  transition: color 0.9s ease-in-out;
}
.currentAddedUrl {
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--text-primary);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgb(161, 161, 161);
}
.currentAddedUrl h3 {
  cursor: pointer;
  margin-left: 15px;
  color: var(--text-primary);
}
.currentAddedUrl button {
  font-size: 20px;
  color: var(--text-primary);
  background: none;
  border: none;
  outline: none;
  margin-right: 15px;
  cursor: pointer;
}
.allLinks {
  width: 80%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
.allLinksHeader {
  text-align: left;
  color: var(--text-primary);
}
.linksContent {
  font-size: 1rem;
  color: var(--text-primary);
}
td,
th {
  border-bottom: 2px solid rgb(206, 206, 206);
  padding: 10px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.deleteBtn {
  background: none;
  background-color: none;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(255, 118, 118);
}
.deleteBtn:hover {
  opacity: 0.7;
}
.linksContent button:hover {
  opacity: 0.5;
}
.alert {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.3rem;
}
.alert h4 {
  color: rgb(223, 50, 50);
  text-shadow: 0.8px 0.8px 10px rgb(204, 166, 166);
}
.loading {
  margin-top: 25px;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 8px solid rgb(231, 231, 231);
  border-top-color: rgb(81, 84, 88);
  border-radius: 45%;
  animation: spin 0.8s cubic-bezier(0.55, -0.48, 0.5, 1.62) infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.5rem;
  }
  .header h1 {
    font-size: 4rem;
    letter-spacing: 10px;
    font-weight: 700;
    text-align: center;
  }
  .header p {
    font-size: 1.2rem;
    text-align: center;
  }
  .newUrl {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--text-primary);
    border-radius: 25px;
  }
}
@media only screen and (max-width: 425px) {
  .header h1 {
    font-size: 3.5rem;
    letter-spacing: 9px;
    font-weight: 700;
    text-align: center;
  }
  .header p {
    font-size: 1.5rem;
    text-align: center;
  }
  .note {
    font-size: 8px;
  }
  .newUrl input {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 375px) {
  .header h1 {
    font-size: 3rem;
    letter-spacing: 7px;
  }
  .header p {
    font-size: 1rem;
    text-align: center;
    color: var(--text-primary);
  }
  .newUrl {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--text-primary);
    border-radius: 25px;
  }
  .newUrl input {
    font-size: 1rem;
  }
  .note {
    margin-left: 5%;
  }
  .currentAddedUrl button {
    font-size: 15px;
  }
  .allLinks {
    width: 90%;
  }
}

@media screen and (max-width: 320px) {
  body {
    font-size: 12px;
  }
  .header {
    width: 100%;
    margin-top: 50%;
  }
  .header h1 {
    font-size: 1.2rem;
    letter-spacing: 5px;
  }
  table {
    display: none;
  }
}
